/* .collapse, ul {
    background-color: #121212; 
} */
.b_img {
    background-image: url('../assets/Hero/hero.png');
    background-size: cover;
    
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.cards-wrapper {
    display: flex;
    justify-content: center;

  }
  .card img {
    max-width: 100%;
    max-height: 100%;
    
  }

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.nav_Color{
    background-color: #c2000acd;
    /* background-color: #F4F4; */
}

.carousel-wrap {
  overflow: hidden;
}


@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }

  .carousel-item{
    justify-content: center !important;
  }
}

/* medium and up screens */
/* @media (min-width: 768px) {
    
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
   
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
    
  }
}  */

/* .carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}


/* hamburger */
.navbar-toggler span {
    display: block;
    background-color: #080808;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
  }
  
  
  
  .navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
  }
  
  .navbar-toggler span:nth-child(2) {
    opacity: 1;
  }
  
  .navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
  }
  
  .navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
  }



  @media screen and (min-width: 768px) and (max-width: 1299px){

    .card_size{
      max-width: 70% !important;
      
      max-height: auto !important;
    }

    .bg-info{
      /* background-color: blue !important; */
    }

  }


  



/* navbar becomes mobile sidebar under lg breakpoint */
@media (max-width: 992px) {
    
    .navbar-collapse.collapsing .navbar-nav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -45%;
        transition: all 0.2s ease-out;
        
    }

    .navbar-collapse.show .navbar-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        flex-direction: column;
        height: auto;
        width: 45%;
        transition: right 0.35s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #c2000acd;
    }

    .navbar-collapse.show ul {
        padding-top: 5.2rem;
        margin-bottom: 0px !important; ;
    }
}



@media screen and (max-width: 990px) {
    .navbar .navbar-collapse{
        background-color:rgb(136, 8, 8);
        /* border-radius: 0 0 15px 15px; */

    }
    .cards-wrapper {
        display: block;
        align-items: center;
        justify-content: center !important;
      }

    .card{
        width: 18rem !important;
        height: auto    !important;

    }
      
    
  }